@tailwind base;
@tailwind components;
@tailwind utilities;

.underline-thick {
    margin-top: 3px;
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
  text-decoration-color:rgb(241, 125, 9);
  border-radius:50px ;

}
